---
const BASE = import.meta.env.BASE_URL
---

<nav class="ds">
    <div class="ds-title">Documentación</div>

    <details class="ds-group">
        <summary class="ds-link ds-summary">Interfaz</summary>
        <a class="ds-link ds-indent" href={`${BASE}/doc#ui-general`}>General</a>
        <a class="ds-link ds-indent" href={`${BASE}/doc#ui-vertices`}>Vértices</a>
        <a class="ds-link ds-indent" href={`${BASE}/doc#ui-aristas`}>Aristas</a>
        <a class="ds-link ds-indent" href={`${BASE}/doc#ui-bucles`}>Bucles</a>
        <a class="ds-link ds-indent" href={`${BASE}/doc#ui-ajustes`}>Ajustes</a>
    </details>

    <a class="ds-link" href={`${BASE}/doc#controls`}>Controles</a>

    <details class="ds-group">
        <summary class="ds-link ds-summary">Algoritmos</summary>
        <a class="ds-link ds-indent" href={`${BASE}/doc#algorithms-animations`}>Animaciones</a>
        <a class="ds-link ds-indent" href={`${BASE}/doc#algorithms-list`}>Implementados</a>
    </details>

    <details class="ds-group">
        <summary class="ds-link ds-summary">Redes sociales</summary>
        <a class="ds-link ds-indent" href={`${BASE}/doc#social-ornamentacion`}>Ornamentación</a>
        <a class="ds-link ds-indent" href={`${BASE}/doc#social-list`}>Implementados</a>
    </details>

    <a class="ds-link" href={`${BASE}/doc#matrices`}>Matrices</a>
    <a class="ds-link" href={`${BASE}/doc#io`}>Archivo</a>
    <a class="ds-link" href={`${BASE}/doc#platform`}>Plataformas soportadas</a>
</nav>
